.search {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	margin-left: 50px; 
	margin-top: 30px;
	float: left;
	border: 0px dotted green;
}

.suggestion {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid #d7d7af;
	border-top: none;
	min-height: 10px;
	padding: 1px;
	margin-bottom: 3px;
	background-color: white;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.suggestion:hover{
	background-color: #dbdfe6;
}

.search-text {
	width: 515px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.search-text:focus {
	border-color: #66afe9;
	outline: 0;
	margin-bottom: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.td-left  {
	display: table-cell;
	border: 0px solid gray;
	min-width: 80px;
	padding: 3px;
	border-radius: 2px;
	box-shadow:  0 1px 1px rgba(0, 0, 0, 0.3);
	background-color: #f9f9f9;
}

.td-right {
	display: table-cell;
	border: 0px solid gray;
	min-width: 220px;
	padding: 3px;
	border-radius: 2px;
	box-shadow:  0 1px 1px rgba(0, 0, 0, 0.3);
	background-color: #f9f9f9;
}

.details {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	margin-right: 30px; 
	border: 0px dotted blue;
	float: left;
	width: 500px;
	margin-top: 30px;
	padding-left: 20px;
}

.active {
	background-color: #dbdfe6;
}